@import "~assets/styles/media";

.mst-video-details {

  &__vimeo {
    margin-bottom: 10px;
    iframe{
      width: 100%;
      height: 610px;
      @include media(mobile) {
        height: 300px;

      }
    }
  }

  &__title {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 80px;

    @include media(mobile) {
      font-size: 36px;
      max-width: 80%;
      margin: 0 auto 40px;
    }
  }
  
  &__inner {
    padding: 120px 0!important;

    @include media(mobile) {
      padding: 50px 15px!important;
    }

    h1 {
      font-size: 60px;
      font-weight: 900;
      text-align: center;
      max-width: 800px;
      padding: 0 15px;
      color: #020135;
      margin:0 auto 80px;
      font-family: Muli-Bold!important;

      @include media(mobile) {
        font-size: 36px;
        margin-bottom: 50px;
      }
    }
  }

  &__content {
    width: 100%;
  }
  p{
    font-size: 18px;
    color: #616161;
    text-align: center;
    padding: 0 15px;
    max-width: 600px;
    margin: 0 auto 20px;
  }
  p:last-child{
    margin-bottom: 80px;
  }
  p img{
    display: block;
    width: 100%;
  }

  &__about {
    font-size: 18px;
    color: #050116;
    margin-bottom: 35px;
  }

  &__description {
    font-size: 18px;
    color: #616161;
    line-height: 24.55px;
    text-align: center;
    margin-bottom: 80px;
    padding:0 15px;
    max-width: 600px;

    @include media(mobile) {
      margin-bottom: 30px;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 10px;
  }
}
