@import "~assets/styles/combind";

.mst-blog {
  &__title {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 80px;
    color: #020135;
    font-family: Muli-Bold !important;

    @include media(mobile) {
      font-size: 36px;
      max-width: 80%;
      margin: 0 auto 40px;
    }
  }
  &__inner {
    padding: 120px 0 !important;
    @include media(mobile) {
      padding-top: 50px !important;
    }
  }
  &__rout_path_subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 34px !important;
    @include media(mobile) {
      justify-content: center;
    }
  }
  &__rout_title {
    width: 439px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #464f84;
    @include media(mobile) {
      font-size: 18px;
      text-align: center;
    }
  }
  &__span {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__large_post_block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid #cec7e9;
    border-bottom: 1px solid #cec7e9;
    padding: 46px 0;
    @include media(tablet) {
      justify-content: space-between;
    }
  }
  &__large_post_img {
    width: 53%;
    height: 414px;
    object-fit: cover;
    @include media(tablet) {
      height: 240px;
    }
    @include media(mobile) {
      height: auto;
    }
    @include media(mobile) {
      width: 100%;
    }
  }
  &__large_post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include media(tablet) {
      height: inherit;
    }
  }
  &__large_post_desc_block {
    width: 39%;
    @include media(mobile) {
      width: 100%;
    }
    margin-left: 57px;
    @include media(tablet) {
      margin-left: 0;
      margin-top: 11px;
    }
  }
  &__large_post_desc_category {
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: #2b96af;
  }
  &__large_post_title {
    width: 320px;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #464f84;
    margin: 23px 0;
    font-family: Muli-Bold !important;
    @include media(mobile) {
      width: 100%;
    }
  }
  &__large_post_desc_text {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 54px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #616161;
    width: 302px;
    @include media(tablet) {
      font-size: 14px;
    }
  }
  &__large_post_user_block {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__large_post_user_img img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  &__large_post_user_name {
    margin-left: 15px;
  }
  &__large_post_user_name p:first-child {
    font-weight: bold;
    font-size: 12px;
    line-height: 176%;
    color: #000000;
  }
  &__large_post_user_name p:last-child {
    font-weight: normal;
    font-size: 10px;
    line-height: 176%;
    color: #93a4ac;
  }
  &__all_post_sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    padding-top: 100px;
    @include media(mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__post_block {
    transition: all 300ms ease-out;

    @include media(mobile) {
      margin-top: 34px;
      margin-right: 0;
    }
  }
  &__post_block:hover {
    transition: all 300ms ease-out;
    transform: scale(0.9);
    @include media(tablet) {
      transform: scale(1);
    }
  }
  &__post_block {
    width: 100%;
  }
  &__post_img_block {
    width: inherit;
    height: 221px;
    object-fit: cover;
    @include media(mobile) {
      width: 100%;
      height: 177px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__post_category {
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: #2b96af;
    margin: 21px 0 7px;
  }
  &__post_title {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #464f84;
  }
}
.general_post {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.mst-blog__span input[type="email"] {
  outline: none;
  width: 358px;
  height: 45px;
  background: #f9f9f9;
  border: none;
  padding: 0 112px 0 17px;
  font-size: 16px;
  line-height: 22px;
  color: #b2aeb4;
  @include media(mobile) {
    width: 93%;
    margin: 13px 0 9px;
  }
}

.mst-blog__span button {
  position: absolute;
  top: 4px;
  width: 100px;
  height: 38px;
  background: #fd4b61;
  border-radius: 40px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  outline: none;
  right: 7px;
  @include media(mobile) {
    position: static;
  }
}

.mst-blog__span button:hover {
  background-color: #464f84;
}
