@import "~assets/styles/media";

.mst-illustration {
    margin-top: 50px!important;

    @include media(mobile) {
        margin-top: 26px!important;
    }

    &__inner {
        width: 100%;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;

        @include media(landscapeMobile) {
            grid-gap: 5px;
        }

        @include media(mobile) {
            grid-template-columns: repeat(1,1fr);
            grid-gap: 15px;
        }
    }

    &__item {
        cursor: pointer;
        transition: all 300ms ease-out;
    }
    &__item:hover{
        transform: scale(0.9);
        transition: all 300ms ease-out;
        @include media(tablet) {
            transform: scale(1);

        }
    }

    &__image {
        height: 235px;
        border: 1px solid #EBEBEB;
        width: 100%;
        object-fit: cover;

        @include media(xl) {
            height: 300px;
        }

        @include media(tablet) {
            height: 210px;    
        }

        @include media(smallTablet) {
            height: 150px;    
        }

        @include media(landscapeMobile) {
            height: 120px;    
        }

        @include media(mobile) {
            height: 190px;
        }

    }
  
}