@import "~assets/styles/media";
@import "~assets/styles/variables";

.mst-lightbox {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    background: #000000c4;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;

    &.active {
        opacity: 1;
    }
    
    &__inner {
        min-width: 60%;
        max-width: 60%;
        min-height: 60%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; 
        background: #fff;       

        @include media(desktop) {
            max-width: 50%;
            min-width: 50%;
        }

        @include media(tablet) {
            max-width: 75%;
            min-width: 75%;
        }

        @include media(smallTablet) {
            max-width: 80%;
            min-width: 80%;
        }

        @include media(mobile) {
            max-width: 95%;
            min-width: 95%;
            min-height: 270px;
        }

        h2 {
            font-size: 24px;
            color: #020135;

            @include media(mobile) {
                font-size: 14px;
            }
        }
    }

    &__image {
        margin: 0 auto;
        width: 100%;
        min-height: 100%;
        min-height: 100%;
        margin-top: 50px;

        @include media(mobile) {
            min-height: 270px;
            margin-top: 40px;
        }
    }

    &__header {
        position: absolute;
        height: 50px;
        background: #ffffff;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;

        @include media(mobile) {
            height: 40px;
        }
    }

    &__close {
       img {
            width: 18px;
            cursor: pointer;

            @include media(mobile) {
                width: 15px;
            }
       }
    }
}