@import "~assets/styles/media";

.mst-tabs {
  border-bottom: 1px solid #EAEAEA;
  &__inner{
    max-width: 500px!important;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: flex-start;
    .tabs_images_block{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__divider {
    height: 1px;
    background: #EAEAEA;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -58vw;
    margin-right: -50vw;
    width: 62vw;
  }

  &__images {
    margin-bottom: 50px;

    @include media(mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-gap: initial;
      max-width: 95%;
      margin: 0 auto 35px
    }
  }

  &__texts {
    justify-content: center;

    @include media(mobile) {
      grid-template-columns: repeat(3, 110px);

    }
  }

  &__tab-item {
    transition: 300ms all ease;
    cursor: pointer;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 46px 12px #f2f2f2;
    border-radius: 8px;

    @include media(mobile) {
      height: 75px;
      min-width: 75px;
      max-width: 75px;
    }


    &__inner {
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      border-radius: 5px;
      width: 50px;


      @include media(mobile) {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        filter: grayscale(100%);
        opacity: 0.1;
        transition: 300ms all ease;
        max-width: 90px;

        @include media(mobile) {
          max-width: 40px;
        }
      }

    }

    &__text {
      height: 75px;
      font-size: 16px;
      text-align: center;
      margin-top: 20px;
      line-height: 21.26px;
      min-width: 150px;
      color: #050116;
      margin: 0;
      transition: 100ms all ease;
      border-bottom: 4px solid transparent;
      padding: 15px 0;
      cursor: pointer;
      @include media(mobile) {
        font-size: 12px;
        min-width: initial;
        line-height: 15.95px;
      }

      &.active {
        border-color: #2B96AF;
        color: #2B96AF;

      }

    }

    &.active {
      transform: scale(1.3);
      @include media(tablet) {
        transform: scale(1);
      }

      img {
        filter: grayscale(0);
        opacity: 1;
        max-width: 50px;
      }
    }


  }
.tabs_images_block{
  transition: all 100ms ease-out;

}
  .tabs_images_block:hover {
    .mst-tabs__tab-item{
      transform: scale(0.9);
      transition: all 100ms ease-out;
      color: #2B96AF;
      @include media(tablet) {
        transform: scale(1);
      }
    }

    .mst-tabs__tab-item__text{
      color: #464F84;
    }
  }

}