@import "~assets/styles/media";

.mst-header {
    &__inner {
        padding:40px 0;
        min-height: 104px;

        @include media(mobile) {
            min-height: 114px;
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        svg:hover path{
            fill: #020135;
        }
    }


    &__navigation {
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, max-content));
        grid-gap: 15px;

        @include media(mobile) {
           display: none;
        }

        &-item {
            font-weight: 700;
            a {
                display: flex;
                padding: 15px;
                border-bottom: 3px solid transparent;

            }

            &.active {
                a {
                    border-bottom: 3px solid;
                    border-color: #2B96AF;
                }
            }
        }
    }

    &__burger-menu {
       display:none;

        @include media(mobile) {
           display: flex;
        }   
    }
}