@import "~assets/styles/media";
@import "~assets/styles/variables";

.mst-footer {
    &__inner {
        padding:40px 0;
        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;

        @include media(mobile) {
            flex-direction: column;    
        }

        nav {
            margin-left: 100px;

            @include media(mobile) {
                margin-left: 0;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        .get-in-touch {
            color: #2B96AF;
            font-weight: 800;
            svg{
                margin-left: 10px;
            }
        }
        .get-in-touch:hover{
            color: #464F84;
            svg path{
                fill: #464F84;
            }

        }
    }

    &__logo-container {
        @include media(mobile) {
            flex-direction: column;    
            align-items: flex-start!important;
        }       
    }

    &__logo {
        @include media(mobile) {
            align-self: flex-start!important;
        }    
    }
    &__logo:hover svg path{
        fill: #020135;
    }

    &__navigation {
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, max-content));
        grid-gap: 33px;

        &-item {
            font-weight: 700;
            a {
                display: flex;
                padding: 15px 0;
                border-bottom: 3px solid transparent;

            }

            &.active {
                a {
                    border-bottom: 3px solid;
                    border-color: #2B96AF;
                }
            }
        }

    }
    
    &__bottom {
        padding:20px 0;

        @include media(mobile) {
            flex-direction: column-reverse;
        }
        
        .copyright {
            color: #D3D3D3;

            @include media(mobile) {
                margin-top: 30px;
                text-align: center;
            }
        }
        
        .social-links {
            display:grid;
            grid-template-columns: repeat(4, 40px);
            grid-gap: 10px;
        }

        .social-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: #F9F9F9;
        }
        .social-link:hover svg  path{
            fill: #464F84;
        }
    }

}