@import "~assets/styles/combind";

.mst-about-us {
  padding: 80px 0;

  @include media(mobile) {
    padding-top: 20px;
  }

  &__title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
    color: #020135;
    font-family: Muli-Bold !important;
    text-align: center;
  }

  p {
    font-size: 20px;
    line-height: 27px;
    max-width: 780px;
    margin: 0 auto 25px;
    text-align: center;
  }

  &__members {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, minmax(300px, 300px));
    justify-content: center;
    margin-top: 40px;

    @include media(mobile) {
      grid-template-columns: 1fr;
    }

    h5 {
      font-size: 26px;
      font-weight: 900;
      margin: 40px 0 15px;
      color: #020135;
    }

    .profession {
      font-size: 18px;
      line-height: 23px;
      color: #000000;
    }

    .social-links {
      display: grid;
      grid-template-columns: repeat(2, 40px);
      grid-gap: 10px;
      justify-content: center;
      margin-top: 25px;
    }

    .social-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: #f9f9f9;
    }
  }

  &__member-item {
    text-align: center;
  }
  &__member-item img {
    transition: all 300ms ease-in;
  }
  &__member-item img:hover {
    transform: scale(0.9);
    transition: all 300ms ease-out;
    @include media(tablet) {
      transform: scale(1);
    }
  }
  &__member-item svg:hover path {
    fill: #464f84;
  }
}
