@import "~assets/styles/combind";
input[type=checkbox]{
    position: relative;
    text-align: center;

}
input[type=checkbox]:before {
    background-color: #F1F1F1;
    position: absolute;
    content: '';
    top: 0;
    height: inherit;
    width: inherit;
    left: 0;
    text-align: center;
    display: block;

}
input[type=checkbox]:checked:after{
    position: relative;
    content: '';
    background-color: #464F84;
    top: 0;
    height: 12px;
    width: 12px;
    left: 0;
    z-index: 9;
    display: block;
}

.mst-contact {
    padding: 20px 0 150px;
.request-error {
		height: 60px;
		background: #ff3535;
		color: #fff;
		padding: 0 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		border-radius: 4px;
    }
    
    .success-content {
		height: calc(100vh - 339px);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h1 {
			text-align: center;
			font-size: 40px;
		}

		h6 {
			font-size: 16px;
		}
	}

    .contact-error-label {
        color: #FF0000;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 3px;
        margin-top: 3px;
        display: flex;
    }

    @include media(mobile) {
       padding-top: 20px;     
       padding-bottom: 80px;
    }

    &__logo-container {

        img {
            max-width: 295px;
        }

        @include media(mobile) {
            display: none;
        }
    }

    &__header-inner {
        @include media(mobile) {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    &__title {
        font-size: 64px;
        font-weight: 900;
        margin-bottom: 35px;
        font-family: Muli-Bold !important;
        color: #020135;

        @include media(mobile) {
            font-size: 36px;
            text-align: center;
            margin-bottom: 25px;
        }
    }

    &__number {
        font-size: 24px;

        @include media(mobile) {
            font-size: 18px;
            max-width: 80%;
            margin: 0 auto;
            text-align: center;
            line-height: 25px;
            margin-bottom: 35px;
        }
    }

    &__settings-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 50px;

        @include media(mobile) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &__settings-container {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-gap: 10px;

        @include media(tablet) { 
            grid-template-columns: repeat(3, 1fr);
        }

        @include media(smallTablet) { 
            grid-template-columns: repeat(2, 1fr);
        }

        @include media(mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__settings-item {
        height: 65px;
        background: #f9f9f9;
        font-size: 18px;
        color: #020135;
        transition: all 300ms ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 3px solid transparent;

        &.active {
            border-color: #2B96AF;
        }
    }
    &__settings-item:hover {
        transform: scale(0.9);
        transition: all 300ms ease-out;
        @include media(tablet) {
            transform: scale(1);

        }
    }


    &__group {
        margin-bottom: 70px;

        @include media(mobile) {
            margin-bottom: 45px;
        }
    }

    &__description {
        width: 100%;
        background: #F9F9F9;
        font-size: 18px;
        padding: 24px;
        border: none;
        border: 1px solid transparent;
        outline: none;
        color: #373438;
        font-family: Muli-Regular !important;
        &::placeholder {
            color: #B2AEB4;
        }

        &.error {
            border-color: #E91D2D;
        }
    }


    &__contacts-container {
        display: grid;
        grid-template-columns: repeat(2, 270px);
        grid-gap: 15px;

        @include media(mobile) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
        }

        input {
            background: #F9F9F9;
            height: 58px;
            border: none;
            outline: none;
            padding: 17px;
            box-sizing: border-box;
            color: #373438;
            width: 100%;
            border: 1px solid transparent;
            font-family: Muli-Regular !important;


            &::placeholder {
                color: #B2AEB4;
            }

            &.error {
                border-color: red;
            }
        }
    }

    &__find-us-container {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-gap: 30px;

        @include media(mobile) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }
    }

    &__find-us__item {
        display: flex;
        align-items: center;
        
        label {
            margin-left: 10px;
            font-size: 18px;
            cursor: pointer;
        }
        
        input {
            width: 20px;
            height: 20px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover{
            color: #464F84;
            input[type=checkbox]:before{
                background-color: #D3D3D3;
                position: absolute;
                content: '';
                top: 0;
                height: inherit;
                width: inherit;
                left: 0;
                text-align: center;
                display: block;
            }
        }
    }

    &__submit-container {
        button {
            background: #FD4B61;
            border-radius: 50px;
            width: 125px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            border: none;
            outline: none!important;
            transition: 200ms all ease;

            &:hover {
                background-color: #464F84;
            }
        }
    }

    &__team-contact-information {

        margin-top: 70px;

        @include media(mobile) {
           display: flex;
           flex-direction: column;
        }

        a {
            font-size: 24px;
            color: #000000;
            margin-right: 35px;

            @include media(mobile) {
                font-size: 18px;
                margin-bottom: 15px;
                margin-right: 0;
            }
            &:hover{
                color: #464F84;
            }
        }
    }
}