@import "~assets/styles/combind";

.mst-need-animation {
    margin:60px 0;

    &__content {
        background: url('../../../assets/images/background-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        margin: 0 auto;
        min-height: 140px;
        padding-left: 220px;

        @include media(mobile) {
            background: url('../../../assets/images/background-1-mobile.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        @include media(smallTablet) {
            padding-left: 120px;
        }

        @include media(mobile) {
           padding-left: 50px;
           width: 100%;
        }

        .dragon-image {
            bottom: 0;
            left: 40px;

            @include media(mobile) {
               max-width: 150px;
               left: -20px;
            }
        }

        &-inner {
            padding:0 50px;

            @include media(mobile) {
                flex-direction: column;
                padding: 0 0 0 50px
            }

            .button-container {
                @include media(mobile) {
                  margin-top: 10px;
                }
            }

            h1 {
                font-size: 40px;
                font-weight: 900;
                color: $mainBlue;
                font-family: Muli-Bold !important;

                @include media(tablet) {
                  font-size: 23px;
                  text-align: center;
                }
            }
        }
    }
}