@import "./src/assets/styles/media";
.mst-button {
    padding: 15px 20px;
    border-radius: 30px;
    color: #ffffff!important;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    @include media(tablet){
        padding: 15px 8px;
        width: 98px;
        font-size: 14px;
    }

    &:hover {
        background-color: #464F84!important;
    }
}