.react-multi-carousel-list {
    height: 100%!important;

    button {
        background: #e7e5e7!important;
        border-color: #e7e5e7!important;
        outline: none!important;
    }

    .react-multi-carousel-dot--active {
        button {
            background: #b2aeb4!important;
            border-color: #b2aeb4!important;
        }
    }
}