@import "~assets/styles/media";

.mst-workpage {
  overflow-x: hidden ;

  &__title {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 80px;
    font-family: Muli-Bold !important;
    color: #020135;

    @include media(mobile) {
      font-size: 36px;
      max-width: 80%;
      margin: 0 auto 40px;
    }
  }

  &__inner {
    padding: 120px 0!important;

    @include media(mobile) {
      padding-top: 50px!important;
    }
  }

  &__content {
    width: 100%;
  }
}
