@import "~assets/styles/combind";

.mst-homepage {
    padding-top: 100px;

    @include media(mobile) {
       padding-top: 20px;     
    }

    &__title {
        font-size: 64px;
        font-weight: 900;
        color: $mainBlue;
        line-height: 1.3;
        font-family: Muli-Bold!important;

        @include media(smallTablet) {
            font-size: 50px;
        }

        @include media(mobile) {
            font-size: 36px;

            br {
                display: none;
            }
        }
    }

    &__welcome {

        padding-bottom: 120px;

        @include media(mobile) {
            flex-direction: column; 
            padding-bottom: 30px;       
        }



        ul {
            margin-top: 40px;
        }

        li {
            color: #050116;
            font-size: 22px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            @include media(mobile) {
                font-size: 16px;
            }

            &:before {
                content: '';
                display: flex;
                justify-content: center;
                align-items: center;
                width: 9px;
                height: 9px;
                background: #464F84;
                border-radius: 50%;
                margin-right: 16px;
            }
        }

    }


    &__welcome-image-container {
        max-width: 600px;

        @include media(tablet) { 
            max-width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include media(smallTablet) {
            max-width: 350px;
        }

        @include media(mobile) {
            max-width: 100%;
        }

        img {
            margin-top: -65px;
            min-width: 600px;
            // margin-right: 150px;

            @include media(mobile) {
                min-width: auto;
                margin-top: 0;
               margin-right: 0;   
            }
            @include media(smallTablet) {
                min-width: 320px;

            }
        }
    }

    &__companies {
        background: #F9F9F9;
        padding:83px 0;

        @include media(tablet) {
          padding: 10px 0;
          height: 150px;
        }

        &__inner {
            display:grid;
            grid-template-columns: repeat(6, minmax(min-content, max-content));
            grid-gap: 30px;
            justify-content: center;

            .company__logo {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.desktop {
                @include media(tablet) {
                    display: none!important;
                }
            }

            &.mobile {
                display:none;
                @include media(tablet) {
                    display: block!important;
                }
            }
        }
        
        .company__logo--mobile {
            height: 100%;
            img {
                width: 80%;
                max-width: max-content;
            }
        }
    }

    &__video-and-character-animation {
        &__inner {
            flex-direction: row-reverse;
        }
    }


    &__logo-and-animation,
    &__illustration {
        background: #fcfcfc;
    }
    &__logo-and-animation,
    &__video-and-character-animation,
    &__illustration {
        padding: 125px 0;

        @include media(mobile) {
           padding-top: 50px;
           padding-bottom: 50px;
        }

        .image-container {
            position: relative;
            width: 100%;
            max-width: 596px;

            @include media(tablet) { 
                max-width: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include media(smallTablet) {
                max-width: 350px;
            }

            @include media(mobile) {
               margin-top: 80px;
                max-width: 100%;
            }
        }
        &__inner {

            @include media(mobile) {
                flex-direction: column-reverse!important;
            }

            h1 {
                font-size: 48px;
                font-weight: 900;
                color: $mainBlue;
                line-height: 56.25px;
                font-family: Muli-Bold!important;

                @include media(mobile) {
                   font-size: 34px;
                   line-height: 1.2;
                }
            }

            p {
                font-size: 18px;
                margin: 40px 0;
                color: #616161;
                line-height: 1.5;

                @include media(mobile) {
                    margin: 20px 0;
                }
            }

            .view-all {
                color: #2B96AF;
                font-size: 16px;
                font-weight: 800;
                display: flex;
                align-items: center;
                cursor: pointer;
                width: max-content;
                padding: 5px 0;
                border-bottom: 1px solid transparent;
                
                span {
                    margin-right: 10px;
                }

                &:hover {
                    color: #464F84;
                    svg path{
                        fill: #464F84;
                    }
                }
            }
        }
    }

    &__illustration {
        padding-bottom: 50px;

        @include media(mobile) {
           padding-bottom: 50px;
        }
    }

    &__need-animation__section {
        margin-top: 40px;
        margin-bottom: 90px;

        @include media(mobile) {
          margin-top: 40px;
        }

    }
    .img_shadow{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}
