@import "~assets/styles/media";
@import "~assets/styles/variables";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-image-lightbox/style.css';
@font-face {
  font-family: Muli-Regular;
  src: url("assets/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: Muli-Bold;
  src: url("assets/fonts/Muli-Black.ttf");
}
html {
  overflow-y: scroll;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, ul, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Muli-Regular!important;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

//   main styles
body {
  background: #ffffff;
  overflow-x: hidden;
}

*, html, body {
  font-family: Muli-Bold!important;

}

a {
    text-decoration: none!important;
    color:#000;
}

.max1100 {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  
  @include media(tablet) {
    max-width: 900px;
  }
}

.max1500 {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  
  @include media(xl) {
    max-width: 1500px;
  }
  
  @include media(tablet) {
    max-width: 900px;
  }
}

  .max1200 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @include media(xl) {
      max-width: 1500px;
    }

    @include media(mobile) {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }
}


.ril-image-current.ril__image {
  max-width: 60%;
}

.ril-toolbar.ril__toolbar {
  
}