$breakPoints: (
	xs: (start: null, end: '449px'),
	sm: (start: '450px', end: '599px'),
	md: (start: '600px', end: '1024px'),
	lg:(start: '1025px', end: '1799px'),
	xl: (start: '1600px', end: null),

	mobile: (start: null, end: '599px'),
	landscapeMobile: (start: null, end: '668px'),
	smallTablet: (start: null, end: '769px'),
	tablet: (start: null, end: '1024px'),
	desktop: (start: '1024px', end: null),
);

@mixin media($breakpoint) {
	$value: map-get($breakPoints, $breakpoint);
	@if $value != null {
		$start: map-get($value, start);
		$end: map-get($value, end);

		@if $start == null {
			@media (max-width: $end) {
				@content;
			}
		} @else if $end == null {
			@media (min-width: $start) {
				@content;
			}
		} @else {
			@media (min-width: $start) and (max-width: $end) {
				@content;
			}
		}
	} @else {
		@warn "Invalid breakpoint `#{$breakpoint}`.";
	}
}
