@import "~assets/styles/media";

.mst-burger-menu {
    display: none;
    
    @include media(mobile) {
        display:flex;
    }

    &__inner {
        position: fixed;
        top: 100px;
        bottom: 0;
        width: 100%;
        left: 100%;
        background: #ffffff;
        padding: 40px 15px;
        transition: 300ms all ease;
        z-index: 9999999;

        &.active {
            left: 0;
        }

        a {
            font-size: 18px;
            color: #000000;
            font-weight: 500;
            display: flex;
            width: 100%;
            padding: 15px 0;
        }
    }

    &__navigation {
        display: grid;
        grid-template-columns: 1;
        grid-gap: 5px;

    }
}